body {
  background-color: #3498db; /* Azul */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #ffffff; /* Blanco */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #3498db; /* Azul */
  font-size: 3rem;
  margin-bottom: 30px;
}

.form-label {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  color: #333;
}

.btn-primary {
  width: 100%;
  padding: 15px;
  background-color: #3498db; /* Azul */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
}
