<div class="row">
    <div class="col-sm-12">
      <form (ngSubmit)="crearTicket()" #usuarioForm="ngForm">
        <fieldset class="form-group">
          <div class="col-sm-12">
            <span class="input-campo1">Descripcion</span>
            <input type="text" class="input-descripcion" placeholder="Descripcion" [ngModel]="ticket.Descripcion" name="Descripcion">
          </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-12">
            <span class="input-campo2">Localizacion</span>
            <input type="text" class="input-localizacion" placeholder="Localizacion" [ngModel]="ticket.Localizacion" name="Localizacion">
          </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-12">
                <span class="input-campo3">Fecha de inicio</span>
                <input type="date" class="input-fechaini" [ngModel]="ticket.Fecha_Inicio" name="Fecha_Inicio">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-12">
                <span class="input-campo3">Fecha de fin</span>
                <input type="date" class="input-fechafin" [ngModel]="ticket.Fecha_Finalizacion" name="Fecha_Finalizacion">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-12">
                <span class="input-campo3">Estado</span>
                <input type="text" class="input-estado" placeholder="Estado" [ngModel]="ticket.Estado" name="Estado">
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="col-sm-12">
                <span class="input-campo3">Ubicacion archivo</span>
                <input type="text" class="input-estado" placeholder="Ubicacion archivo" [ngModel]="ticket.Carga_Archivo" name="Carga_Archivo">
            </div>
        </fieldset>
        <fieldset class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.form.valid">Submit</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>