<div class="input">
    <span class="input-campo1">campo1</span>
    <input type="text" class="input-group-compo1" placeholder="campo1">
</div>

<div class="input">
    <span class="input-campo2">campo2</span>
    <input type="text" class="input-group-compo2" placeholder="campo2">
</div>

<div class="input"></div>
<span class="input-campo3">campo3</span>
<input type="text" class="input-group-compo3" placeholder="campo3">
<div class="mb-3">
    <label for="formFile" class="form-label">Default file input example</label>
    <input class="form-control" type="file" id="formFile">
  </div>
<div class="button">
    <button>Agregar</button>
</div>