.lista{
    display: none;
}
.show{
    display: flex;
    flex-direction:column;
    justify-content: center;
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    border:1px solid #cc1414;
    right:0px;
    min-width: 40%;
    app-cart{
        display: flex;
        flex-direction:column;
        justify-content: center;
        
    }
}