<app-navbar></app-navbar>

<div class="container">
    <div class="row" >
        <div class="col-sm-12" *ngFor="let ticket of tickets">
            <div class="table table-striped" >
                <thead>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-2">Descripcion</th>
                    <th class="col-sm-2">Estado</th>
                </thead>
                <tbody>
                    <td class="col-sm-1">{{ticket.id_tarea}}</td>
                    <td class="col-sm-2">{{ticket.descripcion}}</td>
                    <td class="col-sm-2">{{ticket.estado}}</td>
                    <button>Ver</button>
                    <button>Editar</button>
                </tbody>
            </div>
        </div>
        <div class="col-sm-12 offset-sm-8 logo-container">
            <img src="assets/logo.png" alt="Logo" class="logo-img">
        </div>
        <div class="info-container">
            <div class="info-box">
                <p></p>
                <h4>INFORMACIÓN</h4>
                <p></p>
                <p>Esta pantalla te permite agregar, visualizar y gestionar tareas.
                    En la barra de navegación TRACKSYS se puede desplegar el formulario para agregar una nueva tarea.</p>
                <b>+: </b>
                <a>Al hacer clic sobre el botón "+" se despliega el formulario con todos los detalles para agregar una nueva tarea.</a>
                <p></p><p>Puedes hacer clic en los botones "Ver" y "Editar" para realizar acciones específicas.</p>
                <b>VER: </b>
                <a>Al hacer clic sobre el botón "Ver" puedes desplegar los detalles de la tarea seleccionada.</a>
                <p><b>Editar: </b>
                <a>Al hacer clic sobre el botón "Editar" podrás realizar cambios en alguna tarea, como fechas, información, etc.</a></p>
            </div>
        </div>
    </div>
</div>