<app-navbar></app-navbar>

<div class="container">
    <div class="row" >
        <div class="col-sm-12" *ngFor="let ticket of tickets">
            <div class="table table-striped" >
                <thead>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-2">Descripcion</th>
                    <th class="col-sm-2">Estado</th>
                </thead>
                <tbody>
                    <td class="col-sm-1">{{ticket.id_tarea}}</td>
                    <td class="col-sm-2">{{ticket.descripcion}}</td>
                    <td class="col-sm-2">{{ticket.estado}}</td>
                    <button>Ver</button>
                    <button>Editar</button>
                </tbody>
            </div>
        </div>
    </div>
</div>