<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="table table-striped">
                <thead>
                    <th class="col-sm-1">ID</th>
                    <th class="col-sm-2">campo2</th>
                    <th class="col-sm-2">campo3</th>
                    <th class="col-sm-1">campo4</th>
                </thead>
                <tbody>
                    <td class="col-sm-1">ticket.id</td>
                    <td class="col-sm-2">ticket.campo2</td>
                    <td class="col-sm-2">ticket.campo3</td>
                    <td class="col-sm-1">ticket.campo4</td>
                </tbody>
            </div>
        </div>
    </div>
</div>